[submodule "Waifu2X/backend/waifu2x-ncnn-vulkan"]
	path = Waifu2X/backend/waifu2x-ncnn-vulkan
	url = https://github.com/nihui/waifu2x-ncnn-vulkan.git
[submodule "Waifu2X/backend/realsr-ncnn-vulkan"]
	path = Waifu2X/backend/realsr-ncnn-vulkan
	url = https://github.com/nihui/realsr-ncnn-vulkan.git
[submodule "Waifu2X/backend/realesrgan-ncnn-vulkan"]
	path = Waifu2X/backend/realesrgan-ncnn-vulkan
	url = https://github.com/xinntao/Real-ESRGAN-ncnn-vulkan.git
